.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aqua;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px;
  justify-items: center;
  align-items: center;
}

.item {
  background-color: green;
  transition: all 1s;
}

.item:hover {
  background-color: black;
  color: white;
}
